<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>

  <appSettings>
    <add key="Name" value="Desarrollo" />
    <add key="AppServerHost" value="10.16.1.30" />
    <add key="Client" value="600" />
    <add key="User" value="REXSAP2" />
    <add key="Password" value="Rexsap01" />
  </appSettings>

  <connectionStrings>
    <add name="Connexion"
         connectionString="Data Source=172.31.236.221; Initial Catalog=rex;User Id=rexdb;Password=rexdb2019;connect timeout=2000;"/>
  </connectionStrings>
</configuration>